# VPN Name Service
NEXT_PUBLIC_VPN_NAME="AmneziaVPN"
# true or false
NEXT_PUBLIC_USES_TELEGRAM_BOT="true"

# PostgreSQL database
DB_USER="username"
DB_PASSWORD="password"
DB_NAME="panel"
DATABASE_URL="postgresql://username:password@db:5432/panel"

# Telegram Bot Token (optional)
TELEGRAM_BOT_TOKEN=""

# Key for encrypt data
ENCRYPTION_KEY=""

# Cron secret key
CRON_SECRET="any secret key"
# Root secret key
ROOT_SECRET="any secret key"

# Auth secret key
AUTH_SECRET=""

# development or test or production
NODE_ENV="production"